/* App.css */

.app-container {
  text-align: center;
}

.app-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokemon-card-container {
  margin:10px;
  box-sizing: border-box;
  padding: 10px;
  width: 30%;
  margin-bottom: 20px;
}

.pokemon-card {
  width: 100%;
  height: auto;
  /* Add any other styling you need for the PokemonCard component */
}

/* Additional styling for the PokemonDetailModal container (optional) */
.pokemon-detail-modal-container {
  margin-top: 20px;
}

.pokemon-detail-modal {
  /* Add any styling you need for the PokemonDetailModal component */
}
